@import "../../assets/css/reset.css";

body{
  .main{
    position: relative;
    width: 100%;
    &>img{
      width: 100%;
      height: auto;
    }
    .content{
      position: absolute;
      top:0;
      width: 100%;
      height: 100%;
      .header{
        position: relative;
        display: flex;
        align-items: center;
        align-self: center;
        align-content: center;
        padding: 0.19rem 0.16rem;
        span,a{
          font-size:0.27rem;
        }
        .avatar{
          display: inline-block;
          width:0.4rem;
          height:0.4rem;
          border-radius: 50%;
        }
        .userName{
          margin-left: 0.09rem;
          margin-right: 0.18rem;
          font-weight:bolder;
          color:rgba(136,136,136,1);
          &.active{
            color: rgb(22, 31, 136);
          }
        }
        .line{
          b{
            display: inline-block;
            width:1px;
            height:0.28rem;
            background:rgba(247,95,57,1);
          }
        }
        .red{
          margin-left: .18rem;
          font-weight:bolder;
          color:rgba(246,100,59,1);
        }
        .Cash-withdrawal{
          display: inline-block;
          position: absolute;
          top:0.19rem;
          margin-left: 0.3rem;
          padding: 0.1rem .16rem 0.07rem .16rem;
          //width:1.03rem;
          //height:0.31rem;
          //line-height: .31rem;
          border-radius: .18rem;
          text-align: center;
          background:linear-gradient(0deg,rgba(254,233,228,1),rgba(249,245,242,1));
          font-size:0.2rem;
          font-weight:bolder;
          color:rgba(246,100,59,1);
        }
      }
      .time{
        position: absolute;
        width: 100%;
        font-size:0.22rem;
        font-weight:400;
        color:rgba(255,255,255,1);
        text-align: center;
        top:11.6%;
      }
      .introduce{
        width:3.6rem;
        margin: 0 auto;
        position: absolute;
        top: 33.3%;
        left: 28%;
        p{
          position: relative;
          font-size:0.26rem;
          line-height: 0.36rem;
          font-weight:bolder;
          color:rgba(254,60,48,1);
          margin-top: 0.06rem;
          &:first-child{
            margin-top: 0;
          }
          span{
            position: absolute;
            top: .08rem;
            left: -0.28rem;
            display: inline-block;
            width:0.12rem;
            height:0.12rem;
            background:rgba(254,60,48,1);
            border-radius: 50%;
          }
        }
      }
      .activity-card-box{
        position: absolute;
        width: 100%;
        top: 41.6%;
        overflow: hidden;
        overflow-x: scroll;
        &::-webkit-scrollbar{
          display: none;
        }
        .activeBox{
          display: flex;
          float: left;
          .item{
            float: left;
            position: relative;
            width:1.71rem;
            height:2.21rem;
            margin-left: 0.46rem;
            img,.content{
              width: 100%;
              height: 100%;
            }
            .content{
              position: absolute;
              top: 0;
              p{
                font-weight:400;
                text-align: center;
                color:rgba(251,240,41,1);
                b{
                  color:rgba(251,240,41,1);
                }
                &.txt1{
                  font-size:0.24rem;
                  margin-top: 0.46rem;
                }
                &.txt2{
                  font-size:0.56rem;
                  margin-top: 0.2rem;
                  b{
                    font-size:0.24rem;
                    font-weight: bolder;
                  }
                }
                &.userInfo{
                  margin-top: 0.28rem;
                  font-size:0.24rem;
                }
              }
            }
            &.active .content{
              p{
                color:rgba(255,255,255,1);
                b{
                  color:rgba(255,255,255,1);
                }
                &.userInfo{
                  display: flex;
                  align-items: center;
                  margin-left: auto;
                  margin-right: auto;
                  margin-top: 0.26rem;
                  width: 90%;
                  img{
                    margin-left: 4px;
                    width:0.33rem;
                    height:0.33rem;
                    border-radius:50%;
                  }
                  b{
                    max-width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-left: 4px;
                    font-size:0.24rem;
                  }
                }
              }
            }
            &.not-active .content{

            }
          }
        }
      }
      .btnBox{
        width: 100%;
        position: absolute;
        top:55.5%;
        .btn{
          max-width: 80%;
          margin: 0 auto;
          width:5.85rem;
          height:1rem;
          line-height: 1rem;
          text-align: center;
          background:linear-gradient(0deg,rgba(251,22,61,1),rgba(255,104,33,1));
          box-shadow:0 10px 20px 0 rgba(255,110,54,0.52);
          border-radius:1rem;
          font-size:0.35rem;
          font-weight:500;
          color:rgba(255,255,255,1);
          &:first-child{
            margin-bottom: 0.7rem;
          }
        }
      }
      .rule{
        width: 100%;
        position: absolute;
        bottom: 1.86rem;
        p{
          max-width: 100%;
          padding: 0 0.45rem;
          margin: 0 auto;
          font-size:0.27rem;
          line-height:0.44rem;
          font-weight:500;
          color:rgba(70,70,70,1);
        }
      }
    }
  }
}

